.footer{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.footer1{
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 13.5px;
}
.footer2{
    font-weight: 600;
}